<h1>Search Results</h1>
<%= scheduler_view :search_form, layout: false %>
<hr>
<% delayed = @jobs.select { |j| j['where_at'] == 'delayed' } %>
<h1>Delayed jobs</h1>
<table class='jobs'>
  <tr>
    <th></th>
    <th></th>
    <th></th>
    <th>Timestamp</th>
    <th>Class</th>
    <th>Args</th>
  </tr>
  <% delayed.each do |job| %>
    <tr>
      <td>
        <form action="<%= u "/delayed/queue_now" %>" method="post">
          <input type="hidden" name="timestamp" value="<%= job['timestamp'].to_i %>">
          <input type="submit" value="Queue now">
        </form>
      </td>
      <td>
        <form action="<%= u "/delayed/cancel_now" %>" method="post">
          <input type="hidden" name="timestamp" value="<%= job['timestamp'].to_i %>">
          <input type="hidden" name="klass" value="<%= job['class'] %>">
          <input type="hidden" name="queue" value="<%= job['queue'] %>">
          <input type="hidden" name="args" value='<%=  job['args'].to_json.gsub('=>',':') %>'>
          <input type="submit" value="Cancel Job">
        </form>
      </td>
      <td>
        <form action="<%= u "/delayed/edit" %>" method="post" id="edit-form<%= job['timestamp'].to_i %>">
          <input type="hidden" name="timestamp" value="<%= job['timestamp'].to_i %>" id="timestamp<%= job['timestamp'].to_i %>">
          <input type="hidden" name="new_timestamp" value="" id="new-timestamp<%= job['timestamp'].to_i %>">
          <input type="hidden" name="klass" value="<%= job['class'] %>">
          <input type="hidden" name="queue" value="<%= job['queue'] %>">
          <input type="hidden" name="args" value='<%= job['args'].to_json.gsub('=>',':') %>'>
          <input type="button" id="edit<%= job['timestamp'].to_i %>" value="Edit" onclick="showEditFields(<%= job['timestamp'].to_i %>)">
          <input type="button" id="save<%= job['timestamp'].to_i %>" value="Save" onclick="save(<%= job['timestamp'].to_i %>)" style="display:none">
        </form>
      </td>
      <td class='args'>
        <%= format_time(Time.at(job['timestamp'])) %>
        <input name="new_timestamp" id="ts<%= job['timestamp'].to_i %>" style="display:none" type="text" value="<%= Time.at(job['timestamp']) %>"/>
      </td>
      <td class='class'><%= job['class'] %></td>
      <td class='args'><%= h job['args'].inspect %></td>
    </tr>
  <% end %>
</table>
</h1>

<% queued = @jobs.select { |j| j['where_at'] == 'queued' } %>
<h1>Queued jobs</h1>
<table class='jobs'>
  <tr>
    <th>Queue</th>
    <th>Class</th>
    <th>Args</th>
  </tr>
  <% queued.each do |job| %>
    <tr>
      <td class='class'><%= job['queue'] %></td>
      <td class='class'><%= job['class'] %></td>
      <td class='args'><%= h job['args'].inspect %></td>
    </tr>
  <% end %>
</table>

<% working = @jobs.select { |j| j['where_at'] == 'working' } %>
<h1>Working jobs</h1>
<table class='jobs'>
  <tr>
    <th>Queue</th>
    <th>Class</th>
    <th>Args</th>
  </tr>
  <% working.each do |job| %>
    <tr>
      <td class='class'><%= job['queue'] %></td>
      <td class='class'><%= job['class'] %></td>
      <td class='args'><%= h job['args'].inspect %></td>
    </tr>
  <% end %>
</table>

<script>
  function showEditFields(ts){
    document.getElementById("ts" + ts).style.display = "";
    document.getElementById("edit" + ts).style.display = "none";
    document.getElementById("save" + ts).style.display = "";
//     document.getElementById("args" + ts).style.display = "";
  }

  function save(ts){
    document.getElementById("new-timestamp" + ts).value = document.getElementById("ts" + ts).value
    document.getElementById("edit-form" + ts).submit();
  }
</script>

